<div id="nicotine_form" class="substance_form hidden">
  <%= form_for :nicotine_calc, url: nicotine_calc_path, remote: true do |f|%>
    <div class="line">
      I had
      <%= f.number_field :cigarettes, required: true, min: 1 %>
      cigarettes
    </div>
    <div class="line">
Over the course of
<%= f.number_field :hours, required: true, min: 1 %> hours.
    </div>
    <div class="submit">
      <%= f.submit "Check nicotine levels", :class=> "button", :id=> "nic_button" %>
    </div>
  <% end %>
</div>


