body {
  background-color: #1e1e1e;
  margin: 0;
}

img{
  width:75px;
  position: absolute;
  top:0em;
  /*margin: 20px;*/
  /*height: 75px;*/

}

nav{
  background: black;
  position: fixed;
  height: 64px;
  border-bottom: 2px solid #121212;
  top: 0em;
  width: 100%;
}

nav h3{
  color:white;
  position: absolute;
  display: inline-block;
  margin-left: 2.5em;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 2.5em;
  top: -.9em;
}

nav a{
  display: inline-block;
  border-radius: 0.25em;
  padding: .5em;
  top: .85em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

#signout{
  position: absolute;
  right: .75em;
  background-color: #7b7777;
}
#signout:hover{
  background-color:#d34245;
}


#signin:hover{
  background-color:#8c8888;
}

#signup:hover{
  background-color:#d34245;
}

#signin{
  position: absolute;
  right: .75em;
  background-color: #7b7777;
}

#signup{
  position: absolute;
  right: 5.5em;
  background-color:#ca171b;
}

#welcome_msg {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #7b7777;
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.pop {
  color: white;
  display: block;
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

#footer{
  height: 15em;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0em;
  border-top: 2px solid #121212;
  display: inline-block;

}

.substance_form{
  margin: 0 auto;
  margin-top: 1em;
  width: 500px;
  font-family: 'Lato', sans-serif;
  position: relative;
    /*display: inline-block;*/


}

.submit{
  text-align: center;
  padding-top: .5em;

}
.substance_form label{
  color:white;


  /*margin: .5em;*/
  /*margin-top: 1em;*/

}

.substance_form .line input{
  margin: .75em;
  width:50px;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  padding: 5px;
}
.drop_down{
 background-color: #1e1e1e;
 color: white;
 border-color: #1e1e1e;
 font-size: 15px;
}


.gender{
  display: inline-block;
  padding-left: 1em;

}

/*.gender input{
  margin-left: 0em;
  margin-right: 1.5em;
  }*/

  .line{
    padding-top: .5em;
    color: white;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    vertical-align: middle;


  }



  .substance_form .button{
    color: white;
    background-color:#ca171b;
    border-radius: 5px;
    border:#ca171b ;
    padding: 1em ;
    margin: 0 auto;
    font-size: 12px;
  }

  .substance_form .button:hover{
    background-color:#d34245;
  }

  #chart{
    margin: 0 auto;
    margin-top: 10em;
    color: #BDBDBD;
    width:100%;
    opacity: 50%;
  }

  .tick text{
    fill:white;
    font-size: 12px;
    font-family: 'Lato', sans-serif;

  }

  .nv-axisMaxMin{
    fill:white;
    stroke:none;
    font-size: 12px;
  }

  .nv-legend{
    fill:white;
  }

  .nv-guideline{
    stroke:2px;
  }

  .nv-axislabel{
    fill:white;
    font-family: 'Lato', sans-serif;

  }

  .nv-line{
    color:white;
  }

  .nvd3 .nv-groups path.nv-line{
   stroke-width: 7.5px;
   stroke-linecap:"round";
 }

.registration_form{
  margin-top: 300px;
  display: block;
}

.signin_form{
  position: absolute;
  right: 0;
  top: 4.5em;
}

.signin_form input{
  display: block;
}

#form_container{
 
}
/*this is just so we could see the list as we worked on it*/
#lower-nav a{
 display: block;
 width: 5em;
  border-radius: 0.25em;
  padding: 1.75em 1em 1.75em 1em;
  top: .85em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  background-color: #7b7777;
  /*margin-top: 1em;*/
  margin: .25em;



}
#lower-nav{
  width: 10%;
  position: fixed;
  /*margin:2em 0 0 0 ;*/

}

.hidden {
  display: none;
}

#lower-nav #bac{
  background-color: #FF3D00;
}

#lower-nav #caffeine{
  background-color: #0969A2;
}

 #lower-nav #nicotine{
background-color: #00B358;
}

#lower-nav #bac:active{
  background-color: #A62800;
}

#lower-nav #caffeine:active{
  background-color: #03436A;
}

 #lower-nav #nicotine:active{
background-color: #007439;
}

/*-----MEDIA QUERIES-----*/

@media (max-width: 510px) {
  nav h3 {
    display: none;
  }
}