/*.container{
  width: 720px;
  margin: 0 auto;
}*/

img{
  width:75px;
  /*margin: 20px;*/
  /*height: 75px;*/

}

nav{
  background: black;
  position: relative;
  height: 64px;
}

nav h3{
  color:white;
  position: absolute;
  display: inline-block;
  margin-left: .5em;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 2.5em;
  top: -.9em;


}

nav a{
  display: inline-block;
  border-radius: 0.25em;
  padding: .5em;
  top: .85em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

#signin:hover{
  background-color:#8c8888;
}

#signup:hover{
  background-color:#d34245;
}

#signin{
  position: absolute;
  right: .75em;
  background-color: #7b7777;
}

#signup{
  position: absolute;
  right: 5.5em;
  background-color:#ca171b;
}

/*-----MEDIA QUERIES-----*/

@media (max-width: 510px) {
  nav h3 {
    display: none;
  }
}