<div id="about" class="hidden">
  <p id="made">Made by</p>
  <a href="https://github.com/qsymmachus">John Olmsted</a>
  <a href="https://github.com/dslachtman">Darcey Lachtman</a>
  <a href="https://github.com/nifengle">Patrick Vilhena</a>
  <a href="https://github.com/dgoodman1224">David Goodman</a>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.bacmonkey.com" data-text="BAC monkey, a personal tracker for your chemical vices" data-count="none">Tweet</a>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
</div>