#footer
  .arrow{class: "hidden", id: "up"}
    %h5 show
  .arrow{id:"down"}
    %h5 hide
  #lower_nav
    = render "desktop_links"
    = render "mobile_links"
  #form_container
    = render "desktop_forms"
    = render "mobile_forms"