<div id="footer">
  <div class="hidden arrow" id="up"><h5>show</h5></div>
  <div class="arrow" id="down"><h5>hide</h5></div>
  <div id="lower_nav">
    <%= render "desktop_links" %>
    <%= render "mobile_links" %>
  </div>
  <div id="form_container">
    <%= render "desktop_forms" %>
    <%= render "mobile_forms" %>
  </div>
</div>