#footer
  #up.arrow.hidden
    %h5 show
  #down.arrow
    %h5 hide
  #lower_nav
    = render "desktop_links"
    = render "mobile_links"
  #form_container
    = render "desktop_forms"
    = render "mobile_forms"