<div id="welcome_msg">
  <span class="pop">BAC Monkey is a personal tracker for your chemical vices.</span>

  <p id="blurb">Fill out the form below to start tracking your blood alcohol content (BAC). It will graph your estimated BAC over time, so you can decide whether you've had one beer too many (or too few).</p>

  <a id="about_button" href="#">About</a>

  <div id="about">
    <p id="made">Made by</p>
    <a href="https://github.com/qsymmachus">John Olmsted</a>
    <a href="https://github.com/dslachtman">Darcey Lachtman</a>
    <a href="https://github.com/nifengle">Patrick Vilhena</a>
    <a href="https://github.com/dgoodman1224">David Goodman</a>
  </div>
</div>

<div id="svg-container">
  <%= render 'chart/chart_warning' %>
</div>

<%= render "footer" %>