<div id="welcome_msg">
  <span class="pop">Back Monkey is a personal tracker for your chemical vices.</span>

  <p>Fill out the form below to start tracking your blood alcohol content (BAC). It will graph your estimated BAC over time, so you can decide whether you've had one beer too many (or too few).</p>
</div>

<div id="footer">
  <div id="lower-nav">
      <a href="#" id="alc">Alcohol</a>
      <a href="#" id="caffeine">Caffeine</a>
      <a href="#" id="nicotine">Nicotine</a>
  </div>

  <div id="form_container">
    <%= render "chart/bac_form" %>
    <%= render "chart/caffeine_form" %>
    <%= render "chart/nicotine_form" %>

  </div>
</div>
     <!-- render "chart/nicotine_form" -->