<div id="user-profile">
  <div class="consumption-list">
    <div class="consumption_summary">
      <div class="daily_info">
      </div>
      <div class="total_info">
      </div>
      <div id="alcohol_tips">
      </div>
    </div>

    <div class="consumption_summary">
      <div class="daily_info">
      </div>
      <div class="total_info">
      </div>
      <div id="caffeine_tips">
      </div>
    </div>

    <div class="consumption_summary">
      <div class="daily_info">
      </div>
      <div class="total_info">
      </div>
      <div id="nicotine_tips">
      </div>
    </div>
  </div>
</div>