<div id="user-profile">
  <h3>Total consumption</h3>
  <p><span class="alc-num"><%= @user.total_alcohol %></span> drinks</p>
  <p><span class="caff-num"><%= @user.total_caffeine %></span> mgs of caffeine</p>
  <p><span class="nic-num"><%= @user.total_nicotine %></span> mgs of nicotine</p>
</div>