body {
  background-color: #1e1e1e;
  margin: 0;
  /*height:50%;*/
}

nav img{
  width:75px;
  position: absolute;
  top:0em;
  cursor: pointer;
  left:0;
  /*margin: 20px;*/
  /*height: 75px;*/
}
nav img:hover {
  opacity: 0.7;
}

nav{
  background: black;
  position: fixed;
  height: 64px;
  border-bottom: 2px solid #121212;
  top: 0em;
  width: 100%;
}

nav h3{
  color:white;
  position: absolute;
  display: inline-block;
  margin-left: 2.5em;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 2.5em;
  top: -.9em;
}

nav a{
  display: inline-block;
  border-radius: 0.25em;
  padding: .5em;
  top: .85em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

#signout{
  position: absolute;
  right: .75em;
  background-color: #7b7777;
}
#signout:hover{
  background-color:#d34245;
}

#profile-button{
  position: absolute;
  right: 6.75em;
  background-color: #0969A2;
}
#profile-button:hover{
  background-color: #3a87b4;
}


#signin:hover{
  background-color:#8c8888;
}

#signup:hover{
  background-color:#d34245;
}

#signin{
  position: absolute;
  right: .75em;
  background-color: #7b7777;
}

#signup{
  position: absolute;
  right: 5.5em;
  background-color:#ca171b;
}

#welcome_msg {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #7b7777;
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.pop {
  color: white;
  display: block;
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

#footer{
  height: 15em;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0em;
  border-top: 2px solid #121212;
  display: inline-block;
}


.substance_form{
  margin: 0 auto;
  margin-top: 1em;
  width: 500px;
  font-family: 'Lato', sans-serif;
  position: relative;
    /*display: inline-block;*/


}

.submit{
  text-align: center;
  padding-top: .5em;

}
.substance_form label{
  color:white;


  /*margin: .5em;*/
  /*margin-top: 1em;*/

}

.substance_form .line input{
  margin: .75em;
  width:50px;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  padding: 5px;
}
.drop_down{
 background-color: #1e1e1e;
 color: white;
 border-color: #1e1e1e;
 font-size: 15px;
}


.gender{
  display: inline-block;
  padding-left: 1em;

}

/*.gender input{
  margin-left: 0em;
  margin-right: 1.5em;
  }*/

  .line{
    padding-top: .5em;
    color: white;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    vertical-align: middle;


  }



  .substance_form .button{
    color: white;
    background-color:#ca171b;
    border-radius: 5px;
    border:#ca171b ;
    padding: 1em ;
    margin: 0 auto;
    font-size: 12px;
  }

  .substance_form .button:hover{
    background-color:#d34245;
  }

  #chart{
    margin: 0 auto;
    margin-top: 5em;
    /*margin-bottom: 100em;*/
    /*position: fixed;*/
    color: #BDBDBD;
    width:100%;
    height: 60%;
    /*margin-bottom: 700px;*/

  }

#svg-container{
  height:100%;
  width: auto;
}

.bac-limit {
  position: absolute;
  top: 3.8em;
  left: 50%;
  color: red;
  margin-left: -10em;
  display: block;
  font-family: 'Lato', sans-serif;
}

/*.drive {
  position: absolute;
  top: 3.3em;
  left: 50%;
  color: red;
  margin-left: -10em;
  display: block;
  font-family: 'Lato', sans-serif;
}*/

.tick text{
  fill:white;
  font-size: 12px;
  font-family: 'Lato', sans-serif;

}

  .nv-axisMaxMin{
    fill:white;
    stroke:none;
    font-size: 12px;
  }

  .nv-legend{
    fill:white;
  }

  .nv-guideline{
    stroke:2px;
  }

  .nv-axislabel{
    fill:white;
    font-family: 'Lato', sans-serif;

  }

  .nv-line{
    color:white;
  }

  .nvd3 .nv-groups path.nv-line{
   stroke-width: 7.5px;
   stroke-linecap:"round";
 }

.registration_form{
  margin-top: 300px;
  display: block;
}

.signin_form{
  position: absolute;
  right: 0;
  top: 4.5em;
}

.signin_form input{
  display: block;
}

#form_container{

}
/*this is just so we could see the list as we worked on it*/


#lower_nav a{
 display: block;
 width: 5em;
  border-radius: 0.25em;
  padding: 1.75em 1em 1.75em 1em;
  top: .85em;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  background-color: #7b7777;
  /*margin-top: 1em;*/
  margin: .25em;
  margin-bottom: .25em;



}
#lower_nav{
  width: 10%;
  position: fixed;
  /*margin:2em 0 0 0 ;*/

}

.hidden {
  display: none;
}

#lower_nav #bac{
  background-color: #FF3D00;
}

#lower_nav #caffeine{
  background-color: #0969A2;
}

 #lower_nav #nicotine{
background-color: #00B358;
}

#lower_nav #bac:active{
  background-color: #A62800;
}

#lower_nav #caffeine:active{
  background-color: #03436A;
}

#lower_nav #nicotine:active{
  background-color: #007439;
}

.arrow{
  color: white;
  position: absolute;
  right: 1em
}

.arrow:hover{
  cursor: pointer;
}

.registration_form{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  width: 50%;
  text-align: left;
  margin: 20em auto auto auto;
  background-color: #000;
  border: 2px solid #121212;
  /*border: 2px solid white;*/
  /*display: block;*/
}

.registration_form .button{
    color: white;
    background-color:#ca171b;
    border-radius: 5px;
    border:#ca171b ;
    padding: 1em ;
    margin: 2em auto;
    font-size: 12px;
}

.registration_form input{
  margin: .75em;
  width:100px;
  background-color: #1e1e1e;
  border-color: #121212;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.signin_form {
  background-color: #000;
  font-family: 'Lato', sans-serif;
  padding: .5em;
  border-radius: .5em;
}

.signin_form input{
  margin: .5em;
  background-color: #1e1e1e;
  border-color: #121212;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1em;
  padding: 5px;
}

.signin_form .button{
    color: white;
    background-color:#ca171b;
    border-radius: 5px;
    border:#ca171b ;
    padding: .5em;
    margin: 0 auto;
    font-size: 1em;
}

#user_profile {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: white;
  width: 1100px;
  margin: 7em auto;
}

#user_profile h3 {
  border-bottom: 1px solid gray;
}

.consumption_list {

}

.consumption_summary {
  width: 100%;
  background-color: #000;
  margin-bottom: 2em;

}

.user_info {
  display: inline-block;
  width: 20%;
  min-width: 150px;
  text-align: center;
  border-right: 2px solid #1e1e1e;
}

.user_info p {
  font-size: .8em;
}

.daily_info {
  background-color: #ca171b;
  height: 50%;
  padding: .75em;
  border-bottom: 3px solid #1e1e1e;

}

.total_info {
  height: 50%;
  padding: .75em;
}

.big_num {
  font-size: 3em;
}

.tips{
  width: 70%;
  right: 0;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-left: 2em;
  word-spacing: 3px;
  line-height: 1.5em;
}

#alc_daily {
 background-color: #FF3D00;
}

#caff_daily {
  background-color: #0969A2;
}

#nic_daily {
  background-color: #00B358;
}

.advice {
  color: gray;
  /*margin: 1.5em 0;*/
}

.average_num {
  font-size: 2em;
  margin-right: .25em;
}

.recommeded_num {
  font-size: 2em;
  margin-right: .25em;
}

#consumption_history {
  background-color: #000;
  padding: 0.5em 1em;
  margin: 2em auto 0 auto;
  word-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
}

.date {
  color: gray;
  margin-left: 10%;
}

.gray {
  color: gray;
}

/*-----MEDIA QUERIES-----*/


@media (max-width: 1130px) {
  #user_profile {
    width: 90%;
    min-width: 0;
  }

  .user_info {
    width: 100%;
    min-width: 0;
  }

  .tips {
    width: 90%;
    padding-left: 1em;
  }

  .total_info {
    border-bottom: 3px solid #1e1e1e;
  }
}

@media (max-width: 570px) {
  nav h3 {
    display: none;
  }
}

@media (max-width: 600px){
  #form_container{
    margin-left: 7em;
  }

  .line{
    font-size: .75em;
    width: 40%;
  }

.substance_form .line input{
    width: 2em;
  }

 .substance_form .button{
  padding: .5em;
  font-size: .75em;
  /*float: left;*/
  margin-bottom: 10em;
  position: absolute;
  left: 5em;
  top: 16em;
   }

 #lower_nav a{
  padding: 1.7em .15em 1.7em .5em;

    font-size: 1em;

 }

 .line .drop_down{
  font-size: .5em;
 }


}