#user_profile {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: white;
  width: 1100px;
  margin: 7em auto;
}

#user_profile h3 {
  border-bottom: 1px solid gray;
}

.consumption_summary {
  width: 100%;
  background-color: #000;
  margin-bottom: 2em;
}

.user_info {
  display: inline-block;
  width: 20%;
  min-width: 150px;
  text-align: center;
  border-right: 2px solid #1e1e1e;
}

.user_info p {
  font-size: .8em;
}

.daily_info {
  background-color: #ca171b;
  height: 50%;
  padding: .75em;
  border-bottom: 3px solid #1e1e1e;
}

.total_info {
  height: 50%;
  padding: .75em;
}

.big_num {
  font-size: 3em;
}

.tips{
  width: 70%;
  right: 0;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-left: 2em;
  word-spacing: 3px;
  line-height: 1.5em;
}

#alc_daily {
 background-color: #FF3D00;
}

#caff_daily {
  background-color: #0969A2;
}

#nic_daily {
  background-color: #00B358;
}

.advice {
  color: gray;
}

.average_num {
  font-size: 2em;
  margin-right: .25em;
}

.recommeded_num {
  font-size: 2em;
  margin-right: .25em;
}

#consumption_history {
  background-color: #000;
  padding: 0.5em 1em;
  margin: 2em auto 0 auto;
  word-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
}

.date {
  color: gray;
  margin-left: 10%;
}

.gray {
  color: gray;
}

h5{
  font-family: 'Lato', sans-serif;
  font-size: .5em;
  margin-top: 0em;
  color:#7b7777;
}

#mobile_registration{
  text-align: center;
  font-size: 1em;
  margin-top: 7em;
  min-width: 0;
  width: 250px;
  padding: 1em 0 1em 0;
}


#mobile_registration input{
  margin: 1em;
  width: 10em;
}

#mobile_registration .button{
  padding: .5em;
  margin: 2em auto 0 auto;
}

#comparisons {
  background-color: #000;
  padding: 0.5em 1em;
  margin: 2em auto 0 auto;
  word-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
}

.substance_comparisons {
  display: inline-block;
  width: 30%;
  margin-top: 1em;
  vertical-align: top;
  text-align: center;
}

.substance_comparisons * {
  display: block;
}

.substance_comparisons img {
  width: 60%;
  margin: 1.5em auto 1em auto;
}

.green_num {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  color: #00B358;
}

.red_num {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  color: #FF3D00;
}