.registration_form{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1.25em;
  display: block;
  width: 30%;
  min-width: 465px;
  text-align: center;
  margin: 8em auto auto auto;
  background-color: #000;
  border: 2px solid #121212;
  padding-top: 1em;
}

.registration_form .button{
  color: white;
  background-color:#ca171b;
  border-radius: 5px;
  border:#ca171b ;
  padding: 1em ;
  margin: 2em auto;
  font-size: 12px;
}

.registration_form input{
  display: block;
  font-size: 1.25em;
  margin: 1em auto;
  width: 10em;
  background-color: #1e1e1e;
  border-color: #121212;
  font-family: 'Lato', sans-serif;
  color: white;

}

.signin_form {
  background-color: #000;
  font-family: 'Lato', sans-serif;
  padding: .5em;
  border-radius: .5em;
}

.signin_form input{
  margin: .5em;
  background-color: #1e1e1e;
  border-color: #121212;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 1em;
  padding: 5px;
}

.signin_form .button{
  color: white;
  background-color:#ca171b;
  border-radius: 5px;
  border:#ca171b ;
  padding: .5em;
  margin: 0 auto;
  font-size: 1em;
}
