#welcome_msg {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #7b7777;
  width: 300px;
  margin: 130px auto;
  text-align: center;
}

.pop {
  color: white;
  display: block;
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

#blurb p {
  margin-bottom: 2.5em;
}

#about_button {
  border-top: 1px solid gray;
  padding-top: 1em;
  margin: 0 auto;
  width: 75px;
}

#made {
  color: white;
}

#welcome_msg a {
  display: block;
  color: gray;
  text-decoration: none;
}
#welcome_msg a:hover {
  color: #999999;
}

.twitter-share-button {
  margin-top: 2em;
  margin-bottom: 4.25em;
}